@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/text";
@import "./styles/image";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-text-color: white;
  --secondary-text-color: black;

  --primary-theme-color: #1c73b9;
  --secondary-theme-color: #86d5f7;
  --primary-highlight-color: #2b2928;
  --secondary-highlight-color: #0082af;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--primary-text-color))
    )
    rgb(var(--background-start-rgb));
}